/* You can add global styles to this file, and also import other style files */


/* CLASSI PER FONT MONTSERRAT*/
.m100 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 10pt;
}

.m100i {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-style: italic; 
  font-size: 10pt;
}

.m200 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 10pt;
}

.m200i {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: italic; 
  font-size: 10pt;
}

.m300 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 10pt;
}

.m300i {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic; 
  font-size: 10pt;
}

.m400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.m400i {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: italic; 
}

.m500 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.m500i {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic; 
}


.m600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.m600i {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic; 
}

.m700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.m700i {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic; 
}



.svg-fill {fill: #747170; /* Colore di default */ bottom: 0;}
.section-title{
  
}
.site-data {
  height: 100vh;
}
.site-section {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.site-section-content{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #747170;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.site-data-item {
  position: relative;
  width: 50vw;
  height: 50vh;
  transition: all 0.5s ease;
  margin: 0px;
  padding: 0px;
  background-color: black !important;
}

/* Stile per il contenitore principale */
.parent {
  display: flex;
  flex-direction: column; /* Distribuisce gli elementi verticalmente */
  justify-content: space-between; /* Distribuisce box-header e box-cmd in cima e in fondo */
}

/* Stile per il contenitore di contenuto */
.content-box {
  display: flex;
  justify-content: space-around; /* Spaziatura tra i box */
  align-items: center; /* Centrato verticalmente */
  flex-grow: 1; /* Permette al contenuto di crescere per occupare lo spazio tra box-header e box-cmd */

}

/* Box header leggermente spostato a sinistra */
.box-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px; /* Sposta leggermente a sinistra dal bordo destro */
}

/* Box cmd leggermente spostato a sinistra */
.box-cmd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px; /* Sposta leggermente a sinistra dal bordo destro */
}

.icon-cmd {
  font-size: 24px;
  margin-right: 8px;
}

/* Stile per i box */
.box {
  padding: 20px;
  box-sizing: border-box;
}

.box-center {
  padding: 2px;
  box-sizing: border-box;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 100px;
}

/* Separatore verticale */
.separator {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-right: 10px;
  background-image: url('./assets/png/sep01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
}

/* Box a sinistra */
.left {
  flex-basis: 35%;
}

/* Box a destra */
.right {
  flex-direction: column;
  flex-basis: 65%;
  height: 100%;
  overflow-y: auto;
}