/* You can add global styles to this file, and also import other style files */
.site-data {
  height: 100%;
}
.site-section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #747170;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.site-data-item {
  position: relative;
  width: 50vw;
  height: 50vh;
  transition: all 0.5s ease; /* Transizione fluida */
  margin: 0px;
  padding: 0px;
}
