/* You can add global styles to this file, and also import other style files */

.section-title{
  
}
.site-data {
  height: 100vh;
}
.site-section {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.site-section-content{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #747170;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.site-data-item {
  position: relative;
  width: 50vw;
  height: 50vh;
  transition: all 0.5s ease; /* Transizione fluida */
  margin: 0px;
  padding: 0px;
  border: 1px dotted blue;
}


.svg-fill {fill: #747170; /* Colore di default */ bottom: 0;}
